{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clean-catalog-block',
  'clean-catalog-courses-block'
] %}
<div{{ attributes.addClass(classes) }}>

  {% for course in content %}
    <article>
      <h3>{{ course.field_item }}: {{ course.title }}</h3>

      <p>{{ 'Credits:'|t }} {{ course.field_credits }}</p>
      <p>{{ course.field_description }}</p>
    </article>
  {% endfor %}
</div>
