{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clean-catalog-block',
  'clean-catalog-degree-block'
] %}
<div{{ attributes.addClass(classes) }}>
  {% if content.title %}
    <h2>{{ content.title }}</h2>
  {% endif %}


  {% for section in content.field_degree_section_p %}
    {% if section.field_degree_section_title %}
      <h3>{{ section.field_degree_section_title }}</h3>
    {% endif %}
    <table>
      <thead>
      <tr>
        <th>{{ 'Title'|t }}</th>
        <th>{{ 'Item'|t }}</th>
        <th>{{ 'Credits'|t }}</th>
      </tr>
      </thead>
      {% for course in section.field_degree_section_courses %}
        <tr>
          <td>{{ course.title }}</td>
          <td>{{ course.field_item }}</td>
          <td>{{ course.field_credits }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ section.field_degree_section_description }}
  {% endfor %}

  {{ content|without('title', 'field_degree_section_p', 'field_node_pdf', 'field_program', 'field_degree_type') }}
</div>
